body {
    background-color: rgb(33, 33, 33);
    color : whitesmoke;
    font-family :Georgia, 'Times New Roman', Times, serif;
    padding : 20px 20px;
}

h1{
    color : inherit;
}

.logo{
    height : 100px;
    width: 170px;
    position: absolute;
    top: 0px;
    left : 0px;
}
span{
    text-decoration-line: underline;
    text-decoration-color : grey;
}

.nav-list{
    list-style: None;
    display: flex;
    gap : 60px;
    justify-content: right;
    align-items : start;
}


.header{
    display: flex;
    justify-content: right;
    align-items: center;
}