body {
    background-color: rgb(33, 33, 33);
    color : whitesmoke;
    font-family :Georgia, 'Times New Roman', Times, serif;
    padding : 20px 20px;
}

h1{
    color : inherit;
}

img{
    height : 100px;
    width: 170px;
}
span{
    text-decoration-line: underline;
    text-decoration-color :red;
}