body{
    padding : 20px 20px;
    background-image: linear-gradient(to right,grey , black);
}










#pokemonImage{
    height : 200px;
    width : 200px;
    display: block;
}
















