body{
    background: rgb(233, 238, 239);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
p {
    margin : 5px;
}

#Our-site {
    /*border: 4px solid black;*/
    background-image: url('../static/Hotel-main.jpg');
    height : 500px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius : 10px;
    margin : 25px 10px;
    position: relative;
}
#quote {
    position: absolute;
    font-family : 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size :xx-large;
    font-weight: 500;
    top : 5%;
    left : 35%;
    color : white;
    
}
section{
    border: 4px so
    lid black;

}

#search-bar {
    /*border: 4px solid black;*/
    display: flex;
    align-items: center;
    width : 590px;
    height : 30px;
    padding : 5px 0;
    border-radius: 25px;
    position: absolute;
    top : 25%;
    left : 30%;
    background-color: white;
}
#locations , #hotels {
    background-color: rgb(191, 187, 187);
    border-radius: 15px;
    padding : 1px 7px;
    margin-left : 6px;
    height: 25px;

}

#search {
    background-color: rgb(150, 216, 238);
    border-radius: 15px;
    padding : 1px 7px;
    margin-left: auto;
    margin-right: 6px;
    height : 25px;
}
#discover , #contact {
    border: 2px solid black;
    color : black;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    gap : 5px;
    background-color: whitesmoke;
    font-weight: 500;
}
#discover{
    top : 65%;
    left : 3%;
    border-radius: 20px;
    height : 30px;
    padding : 0px 6px;

}
#contact{
    top : 77%;
    left : 3%;
    border-radius: 20px;
    padding : 5px 5px;
    height : 30px;
    padding : 0px 6px;
}
#reviews{
    position: absolute;
    display: flex;
    border : 2px solid rgb(17, 15, 15);
    flex-direction: column;
    justify-content: start;
    gap : 0px;
    width : 180px;
    padding : 5px 10px;
    background-color: white;
    border-radius: 30px;
    top : 65%;
    left : 15%;
}

#text {
    position: absolute;
    top : 45%;
    color : white;
    left : 3%;     

}
#header {
    display: flex;
    gap : 80px;
    justify-content: center;
    align-items: center;
    font-family :'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /*border : 4px solid black;*/
    margin : 5px;
}

#Hotels {
    /*border : 4px solid black;*/
    display: flex;
    justify-content: center;
    align-items: center;
    gap : 0px 100px;
    padding : 10px 15px;
    margin-top : 25px;
}

#chennai , #hyd , #mumbai , #vizag {
    border-radius : 20px;
    height : 250px;
    width : 25vw;
    /*border : 2px solid black;*/
    position: relative;

}

#chennai {
    background-image: url("../static/Hotel-chennai.jpg");
    background-position: center;
    background-size: cover;
    box-shadow: 0 10px 20px lightblue;
}
#hyd {
    background-image: url("../static/Hotel-hyd.jpg");
    background-position: center;
    background-size: cover;


}
#mumbai {
    background-image: url("../static/Hotel-mumbai.jpg");
    background-position: center;
    background-size: cover;

}
#vizag {
    background-image: url("../static/Hotel-vizag.webp");
    background-position: center;
    background-size: cover;

}
.places {
    position: absolute;
    top : 60%;
    left : 5%;
    color: whitesmoke;
}