body {
    background-image: url("../static/subway-passenger.avif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
    text-align: center;
    color : whitesmoke;
    text-align: center;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    width: 100vw;
    min-height: 100vh;
}
#incrementer, #notes {
    background-color: rgba(209, 173, 173, 0.5);
    padding: 20px;
    border: 3px solid whitesmoke;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 200px;
    justify-content: center;
    align-items: center;
}
#saved-entries {

   height: 200px;
   width : 180px;
   background-color : white;
   color : black;
   border : 2px solid black;
   border-radius: 20px;
}

#notes {
    word-break: break-word;
    overflow-wrap: break-word;
    overflow-y: auto;
    max-width: 100%;
}
#notes{
    max-width: 100%;
}
#header {
    text-shadow: 5px 5px 10px rgb(0, 0, 0);
}
#count-el {
    font-size: 50px;
    margin: 20px 0;
    color : rgb(24, 21, 21)

}
#btn-div {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

button {
    height : 30px;
    width: 120px;
    max-width: 100%;
    border-radius: 40px;
    border: 3px solid black;
    font-weight: bold;
    cursor: pointer;
}